<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>rootProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>poOrder</servlet-name>
  	<servlet-class>controller.partnerBo.order.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>poOrder</servlet-name>
  	<url-pattern>*.pood</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>poGoods</servlet-name>
  	<servlet-class>controller.partnerBo.goods.GoodsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>poGoods</servlet-name>
  	<url-pattern>*.pogd</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>poPartner</servlet-name>
  	<servlet-class>controller.partnerBo.partner.PartnerController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>poPartner</servlet-name>
  	<url-pattern>*.popt</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>poMain</servlet-name>
  	<servlet-class>controller.partnerBo.main.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>poMain</servlet-name>
  	<url-pattern>*.pomain</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boMember</servlet-name>
  	<servlet-class>controller.backoffice.member.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boMember</servlet-name>
  	<url-pattern>*.bomem</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boOrder</servlet-name>
  	<servlet-class>controller.backoffice.order.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boOrder</servlet-name>
  	<url-pattern>*.bood</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boGoods</servlet-name>
  	<servlet-class>controller.backoffice.goods.GoodsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boGoods</servlet-name>
  	<url-pattern>*.bogd</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boEvent</servlet-name>
  	<servlet-class>controller.backoffice.eventBoard.EventBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boEvent</servlet-name>
  	<url-pattern>*.boeb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boAnswer</servlet-name>
  	<servlet-class>controller.backoffice.answerBoard.AnswerBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boAnswer</servlet-name>
  	<url-pattern>*.boab</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boFaq</servlet-name>
  	<servlet-class>controller.backoffice.faqBoard.FaqBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boFaq</servlet-name>
  	<url-pattern>*.bofb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boNotice</servlet-name>
  	<servlet-class>controller.backoffice.noticeBoard.NoticeBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boNotice</servlet-name>
  	<url-pattern>*.bonb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boPartner</servlet-name>
  	<servlet-class>controller.backoffice.partner.PartnerController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boPartner</servlet-name>
  	<url-pattern>*.bopt</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>boMain</servlet-name>
  	<servlet-class>controller.backoffice.main.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boMain</servlet-name>
  	<url-pattern>*.bomain</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>member</servlet-name>
  	<servlet-class>controller.main.member.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>member</servlet-name>
  	<url-pattern>*.mem</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>goods</servlet-name>
  	<servlet-class>controller.main.goods.GoodsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>goods</servlet-name>
  	<url-pattern>*.gd</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>event</servlet-name>
  	<servlet-class>controller.main.eventBoard.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>event</servlet-name>
  	<url-pattern>*.eb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>faq</servlet-name>
  	<servlet-class>controller.main.faqBoard.FaqController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>faq</servlet-name>
  	<url-pattern>*.fb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>answer</servlet-name>
  	<servlet-class>controller.main.answerBoard.AnswerController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>answer</servlet-name>
  	<url-pattern>*.ab</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>notice</servlet-name>
  	<servlet-class>controller.main.noticeBoard.NoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>notice</servlet-name>
  	<url-pattern>*.nb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>main</servlet-name>
  	<servlet-class>controller.main.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>main</servlet-name>
  	<url-pattern>*.main</url-pattern>
  </servlet-mapping>
</web-app>